$b-small: 600px;

$c-primary: #027368;
$c-accent: #f25116;
$c-info: #048abf;
$c-white: #ffffff;
$c-black: #222222;
$c-shadow: rgba(0, 0, 0, 0.1);
$c-overlay: rgba(0, 0, 0, 0.4);

$s-radius: 2px;

$shadow: 0 1px 1px $c-shadow, 0 2px 2px $c-shadow;
